<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-autotime"
    version="1.0.0">
    <name>Cordova Plugin Autotime</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/matoooon/cordova-plugin-autotime.git</repo>
    <issue>https://github.com/matoooon/cordova-plugin-autotime/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.AutoTimePlugin -->
        <clobbers target="AutoTimePlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="AutoTimePlugin">
          <param name="android-package" value="com.example.AutoTimePlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/example/AutoTimePlugin.java" target-dir="src/com/example/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="plugins.autotime" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="AutoTimePlugin">
                <param name="ios-package" value="AutoTimePlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/AutoTimePlugin.h" />
        <source-file src="src/ios/AutoTimePlugin.m" />
    </platform>
</plugin>
